@font-face {
    font-family: muli;
    src: url(../fonts/Muli-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: muli;
    src: url(../fonts/Muli-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: muli;
    src: url(../fonts/BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

